.form-geoip {
    margin: 1em 0 2em;
}

.form-geoip__input-text {
    width: 12em;
    height: 2em;
    padding: 1px 0.5em;
}

.form-geoip__submit {
    width: 12em;
    height: 2em;
    margin: 0 0 0 1em;
}

.error-text {
    color: orange;
    font-size: 1.5em;
}